* {
    padding: 0;
    margin: 0;
}

body {
    font-family: montserrat;  
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.navbar-menu {
    width: 100%;
    padding: 35px 10px 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sreerag-logo {
    width: 50px;
    cursor: pointer;
}

.mentroship {
    font-size: 16px;
    font-weight: lighter;
    color: black;
}

.mentroship:hover {
    color: #7510F7;
}

.say-hello {
    margin-left: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #7510F7;
    background: white;
    text-align: center;
    border-width: 2px;
    width: 116px;
    border: 2px solid #7510F7;
    border-radius: 290486px;
    padding: 0.8rem;
    cursor: pointer;
}

.say-hello:hover {
    background-color: #7510F7;
    color: white;
}

.nav-icon-btn {
    background: white;
    color: #7510F7;
    border: none;
    cursor: pointer;
    display: none;
}
.mobview-menu{
    width: 100%;
    margin-left: 40%;
    margin-right: 60%;
    display: none;

}

.mentroship-mob{
    font-size: 15px;
    font-weight: lighter;
    color: black;
    margin-left: 13px;
}

.mentroship-mob:hover{
    color: #7510F7;
}

.say-hello-mob{
    font-size: 15px;
    font-weight: 700;
    color: #7510F7;
    background: white;
    margin-top: 20px;
    text-align: center;
    border-width: 2px;
    width: 100px;
    border: 2px solid #7510F7;
    border-radius: 290486px;
    padding: 0.8rem;
    cursor: pointer;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.main-content-body-title{
    font-size: 2.5rem;
    font-weight: 1000;
    line-height: 1.125;
    padding-top: 20px;
}

.main-content-body-title-sub{
    font-size: 1.25rem;
    margin-left: 35px;
}

.main-body li{
    margin-top: 35px;
}

.main-body-image{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.main-body-image-avatar{
    margin-top: 35px;
}

.main-body-footer{
    padding-top: 35px;
}

.main-body-footer-image{
    margin-top: 40px;
}

.self-content{
    width: 100%;
    background: #7510F7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 50px 20px 50px 20px;

}

.self-content-title{
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   font-weight: 900;
   line-height: 1.125;
   margin-top: 50px;
   text-align: center;
}

.self-content-description{
    text-align: center;
    line-height: 2;
    margin-top: 30px;
}

.skill-card{
    width: 500px;
    padding-top: 50px;
    background: gray;
    position: relative;
    bottom: 25px;
    text-align: center;
    margin-left: 37%;
    margin-right: 35%;
    background:#fff;
    border-bottom: 1px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
    border-left: 1px solid #E6ECF8;
    border-radius: 10px;
    
}

.skill-card-title{
    line-height: 1.150;
    padding-top: 15px;
    margin-top: 35px;
    font-weight: 800;
}

.skill-card-description{
    line-height: 1.75;
    margin-top: 35px;
}

.skill-card-language{
    padding-top: 30px;
}

.Skill-card-languages-title{
    margin-top: 45px;
    color: #7510F7;
    font-weight: 650;
}

.skill-card-language-speak{
    margin-top: 25px;
}

.skill-card-tools{
    padding: 45px;
}

.skill-card-tools-title{
    margin-top: 45px;
    color: #7510F7;
    font-weight: 650;
}

.skill-card-library{
    padding-top: 15px;
}

.skill-card-tools-list{
    line-height: 2;
}


@media (max-width:900px) {
    .navbar-menu {
        display: flex;
       justify-content: space-around;
       padding: 20px 0px 10px 0px
    }

    .sreerag-logo{
        position: relative;
        left: -80px;
    }
    .navbar-end {
        display: none;
    }

    .nav-icon-btn {
        display: block;
        position: relative;
        right: -80px;
    }
    .mobview-menu{
        display: block;
    }

    .main-content-body-title{
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1;
        padding-top: 20px;
        margin-left: 70px;
    }

    .main-content-body-title-sub{
        font-size: 16px;
        margin-left: 35px;
    }

    .main-body-image-avatar{
        width: 150px;
    }

    .main-body-footer-image{
        width: 460px;
        margin-left: 25px;
    }

    .self-content-title{
        font-size: 20px;
    }

    .self-content-description{
        font-size: 14px;
        margin-right: 20px;
        text-align: center;
        font-weight: 800;
    }

}