* {
    padding: 0;
    margin: 0;
}

body {
    font-family: montserrat;  
    overflow-x: hidden;
   
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.navbar-menu {
    width: 100%;
    padding: 35px 10px 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sreerag-logo {
    width: 50px;
    cursor: pointer;
}

.mentroship {
    font-size: 16px;
    font-weight: lighter;
    color: black;
}

.mentroship:hover {
    color: #7510F7;
}

.say-hello {
    margin-left: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #7510F7;
    background: white;
    text-align: center;
    border-width: 2px;
    width: 116px;
    border: 2px solid #7510F7;
    border-radius: 290486px;
    padding: 0.8rem;
    cursor: pointer;
}

.say-hello:hover {
    background-color: #7510F7;
    color: white;
}

.nav-icon-btn {
    background: white;
    color: #7510F7;
    border: none;
    cursor: pointer;
    display: none;
}
.mobview-menu{
    width: 100%;
    margin-left: 40%;
    margin-right: 60%;
    display: none;

}

.mentroship-mob{
    font-size: 15px;
    font-weight: lighter;
    color: black;
    margin-left: 13px;
}

.mentroship-mob:hover{
    color: #7510F7;
}

.say-hello-mob{
    font-size: 15px;
    font-weight: 700;
    color: #7510F7;
    background: white;
    margin-top: 20px;
    text-align: center;
    border-width: 2px;
    width: 100px;
    border: 2px solid #7510F7;
    border-radius: 290486px;
    padding: 0.8rem;
    cursor: pointer;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.main-content-body-title{
    font-size: 2.5rem;
    font-weight: 1000;
    line-height: 1.125;
    padding-top: 20px;
}

.main-content-body-title-sub{
    font-size: 1.25rem;
    margin-left: 35px;
}

.main-body li{
    margin-top: 35px;
}

.main-body-image{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.main-body-image-avatar{
    margin-top: 35px;
}

.main-body-footer{
    padding-top: 35px;
}

.main-body-footer-image{
    margin-top: 40px;
}

.self-content{
    width: 100%;
    background: #7510F7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 50px 20px 100px 20px;

}

.self-content-title{
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   font-weight: 900;
   line-height: 1.125;
   margin-top: 50px;
   text-align: center;
}

.self-content-description{
    text-align: center;
    line-height: 2;
    margin-top: 30px;
}

.skill-card{
    width: 500px;
    padding-top: 50px;
    background: gray;
    position: relative;
    bottom: 70px;
    text-align: center;
    margin-left: 37%;
    margin-right: 35%;
    background:#fff;
    border-bottom: 1px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
    border-left: 1px solid #E6ECF8;
    border-radius: 10px;
    box-shadow: 0px 2 px 5px 4px #E6ECF8;
    
}

.skill-card-title{
    line-height: 1.150;
    padding-top: 15px;
    margin-top: 35px;
    font-weight: 800;
}

.skill-card-description{
    line-height: 1.75;
    margin-top: 35px;
}

.skill-card-language{
    padding-top: 30px;
}

.Skill-card-languages-title{
    margin-top: 45px;
    color: #7510F7;
    font-weight: 650;
}

.skill-card-language-speak{
    margin-top: 25px;
}

.skill-card-tools{
    padding: 45px;
}

.skill-card-tools-title{
    margin-top: 45px;
    color: #7510F7;
    font-weight: 650;
}

.skill-card-library{
    padding-top: 15px;
}

.skill-card-tools-list{
    line-height: 2;
}

.footer-box{
    width: 50%;
    background: #141c3a;
    margin-left: 24%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 45px 50px 45px 50px;
    border-radius: 15px;
    position: relative;
    top: 90px;
}


.footer-box-title{
    padding: 10px 0px 10px 0;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.125;
}

.footer-box-contetnt{
    padding: 10px 0px 10px 0;
    line-height: 1.75;
}

.footer-box-connect{
    padding: 10px 0px 10px 0;
}

.connect-me{
    background: #141c3a;
    color: white;
    border: 2px solid #7510F7;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

.connect-me:hover{
    background: #7510F7;
}

.footer{
    width: 100%;
    background: #7510F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 50px 0px ;
}


.footer-logo{
    padding-top: 70px;
    margin-top: 70px;
    margin-left:44%;
}

.footer-para{
    color:gray;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
}

@media (max-width:900px) {
    .navbar-menu {
        display: flex;
       justify-content: space-around;
       padding: 20px 0px 10px 0px
    }

    .sreerag-logo{
        position: relative;
        left: -80px;
    }
    .navbar-end {
        display: none;
    }

    .nav-icon-btn {
        display: block;
        position: relative;
        right: -80px;
    }
    .mobview-menu{
        display: block;
    }

    .main-content-body-title{
        font-size: 1.2rem;
        font-weight: 800;
        line-height: 1;
        padding-top: 20px;
        text-align: center;
    }

    .main-content-body-title-sub{
        font-size: 15px;
        text-align: center;
        margin-left: 50px;
    }

    .main-body-image-avatar{
        width: 150px;
    }

    .main-body-footer-image{
        width: 460px;
        margin-left: 25px;
    }

    .self-content{
        padding: 10px 20px 70px 20px;
    }

    .self-content-title{
        font-size: 17px;
        text-align:center ;
    }

    .self-content-description{
        font-size: 14px;
        margin-right: 20px;
        text-align: center;
        font-weight: 800;
    }

    .skill-card{
        margin-left: 19%;
        width: 280px;
        position: relative;
        bottom: 50px;
    }

    .skill-card-title{
        font-size: 18px;
        font-weight: 800;
    }

    .skill-card-description{
        font-size: 15px;
    }

    .skill-card-language{
       font-size: 15px;
    }

    .footer-box{
       display: flex;
       flex-direction: column;
       padding: 10px 40px 10px 40px;
       align-items: center;
       margin-left: 13%;
    }

    .footer-box-title{
        font-size: 15px;
        font-weight: 800;
        margin-right: 35px;
        text-align: center;
    }

    .footer-box-contetnt{
        font-size: 14px;
    }

    .connect-me{
        padding: 10px 20px 10px 20px;
        margin-right: 20px;
    }

    .footer-logo{
        padding-top: 30px;
        margin-top: 30px;
        margin-left:40%;
    }

    .footer-para{
        color:gray;
        font-size: 1.2rem;
        font-weight: 800;
        text-align: center;
        padding-top: 20px;
    }

    .footer-box{
        position: relative;
        top: 30px;
    }

    .footer{
        position: relative;
        bottom: 60px;
        z-index: -1;
    }

}  